[MAIN]
extension-pkg-whitelist="pydantic"
ignore-paths=layers

[BASIC]
argument-rgx=[a-z_][a-z0-9_]*$
attr-rgx=[a-z_][a-z0-9_]*$
variable-rgx=[a-z_][a-z0-9_]*$

[FORMAT]
max-line-length=140

[MESSAGES CONTROL]
disable=R0903, R0801, W1203, C0414, C0114,C0116, C0115, E0601, R0913, C0114
enable=c-extension-no-member

